<section id="activitées">
    <h2>Activitées</h2>
    <p>
        Vivamus accumsan nunc quis pretium dapibus. Maecenas sed quam sollicitudin, ultrices nisl eu, iaculis risus.Proin sit amet tellus cursus, malesuada lacus eget, cursus justo.
    </p>
    
    <article>
        <h3>Activite #1</h3>
        <p>Vivamus accumsan nunc quis pretium dapibus. Maecenas sed quam sollicitudin, ultrices nisl eu, iaculis risus. Proin sit amet tellus cursus, malesuada lacus eget, cursus justo.</p>
        <img  src="small.jpg"
            srcset="/images/3x/placeholders-wide.png 3x, /images/2x/placeholder-wide.png 2x, /images/1x/placeholder-wide.png 1x"
            sizes="(min-width: 36em) 33.3vw, 100vw"
            alt="Activite #1" />
    </article>

    <article>
        <h3>Activite #2</h3>
        <p>Vivamus accumsan nunc quis pretium dapibus. Maecenas sed quam sollicitudin, ultrices nisl eu, iaculis risus. Proin sit amet tellus cursus, malesuada lacus eget, cursus justo.</p>
        <img  src="small.jpg"
            srcset="/images/3x/placeholders-wide.png 3x, /images/2x/placeholder-wide.png 2x, /images/1x/placeholder-wide.png 1x"
            sizes="(min-width: 36em) 33.3vw, 100vw"
            alt="Activite #2" />
    </article>

    <article>
        <h3>Activite #3</h3>
        <p>Vivamus accumsan nunc quis pretium dapibus. Maecenas sed quam sollicitudin, ultrices nisl eu, iaculis risus. Proin sit amet tellus cursus, malesuada lacus eget, cursus justo.</p>
        <img  src="small.jpg"
            srcset="/images/3x/placeholders-wide.png 3x, /images/2x/placeholder-wide.png 2x, /images/1x/placeholder-wide.png 1x"
            sizes="(min-width: 36em) 33.3vw, 100vw"
            alt="Activite #3" />
    </article>
</section>
