<nav id="lang-selector">
        <ul>
                <li><a href="">Francais</a></li>
                <li><a href="">English</a></li>
        </ul>
</nav>
<nav id="nav-sections">
        <ul>
                <li><a href="#activitées">Activitées</a></li>
                <li><a href="#forfaits">Forfaits</a></li>
                <li><a href="#contact">Contact</a></li>
        </ul>
 </nav>